@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-left: 0.625rem;
  width: auto;
}

body {
  background-color: #454545;
  font-family: 'Poppins', sans-serif;
  padding-top: 0.625rem;
}

.leaderboard {
  margin: auto;
  width: 85%;
}

.hero {
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}

.added-scores,
.add-score {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(1rem) saturate(180%);
  background: #ccc;
  padding: 10px;
  border-radius: 8px;
}

.recent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

h2 {
  font-size: 1.8rem;
  color: rgb(81, 81, 81);
  text-transform: capitalize;
}

button {
  background: #1b9c85;
  border: 1px solid #1b9c85;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-end;
  color: #fff;
}

button:hover {
  background-color: #34a654;
}

ul {
  border: none;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

ul li:nth-child(even) {
  background: #454545;
  color: white;
  padding-left: 0.625rem;
}

ul li:nth-child(odd) {
  background: #fff;
  padding-left: 0.625rem;
}

.add-score h2 {
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.score-display {
  background-color: #34a654;
  padding: 2% 5%;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
}

form input[type='text'],
form input[type='number'] {
  margin-bottom: 1.1rem;
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

footer {
  min-height: 10vh;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #34a654;
}
